*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
}

html{
    font-size: 16px;
}

p{
    font-size: 1rem;
}

h1{
    font-size: 3.8125rem;
    font-weight: 700;
}

h2{
    font-size: 3.0625rem;
}

h3{
    font-size: 2.4375rem;
    font-weight: 400;
}

h4{
    font-size: 1.9375rem;
}

h5{
    font-size: 1.5625rem;
}

ul,li,a{
    list-style: none;
    text-decoration: none;
    color: #000;
}

button{
    background-color: #5F7470;
    border: none;
    color: #FFF;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
}

button:hover{
    background-color: #4A5A57;
}

/*Navbar*/

.navbar{
    background-color: rgba(224, 226, 219, 0.9);
    z-index: 2;
}

.container{
    max-width: 1320px;
    width: 100%;
    margin: 0 auto;
}

.navbar__inner{
    display: flex;
    justify-content: space-between;
    padding: 2vh 0;
}

.navbar__logo{
    text-transform: uppercase;
}

.navbar__nav a{
    margin-left: 3vw;
}

.navbar__inner a:hover{
    font-weight: 600;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}


/*Header*/

.header{
    margin-top: 4vh;
    padding: 3vh 0;
}

.header__inner{
    position: relative;
}

.header__img{
    max-width: 100%;
    opacity: 0.8;
}

.header__title{
    position: absolute;
    width: 100%;
    top:50%;
    text-align: center;
    opacity: 1;
    z-index: 1;
    text-transform: uppercase;
}

/*Projects*/

.projects{
    padding: 3vh 0;
}

.projects__title, .about__title, .contact__title{
    padding-top: 1vh;
    padding-bottom: 1vh;
    border-bottom: lightgrey;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    margin-bottom: 1vh;
}

.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card{
    display: flex;
    flex-direction: column;
    width: 25%;
    padding: 0.5%;
}

.projects .card:hover{
    background-color: #D2D4C8;
}


.card__img{
    width: 100%;
    height: 100%;
}

.card__title{
    text-transform: uppercase;
    padding: 3% 0;
}

/*About*/
.about{
    padding: 3vh 0;
}

.card__subtitle{
    color: #6c757d;
    padding: 2% 0;
}

.card__text{
    padding: 1% 0;
    margin-bottom: 2vh;
}

.card__button{
    width: 100%;
}

/*Contact*/

.contact{
    padding: 3vh 0;
}

.contact__text{
    margin-bottom: 2vh;
}


input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type=submit] {
    background-color: #5F7470;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
}

input[type=submit]:hover {
    background-color: #4A5A57;
}

.footer{
    background-color: #B8BDB5;
    padding: 3vh 0;
}

.network__title{
    margin-bottom: 1vh;
}

.network{
    margin-bottom: 3vh;
}

@media screen and (max-width: 1400px){
    .card{
        width:25%;
    }
    .container{
        max-width: 1140px;
    }

}

@media screen and (max-width: 1200px){
    .card{
        width:25%;
    }
    .container{
        max-width: 960px;
    }
    html {
        font-size: 14px;
    }

}

@media screen and (max-width: 992px){
    .card{
        width:50%;
    }
    .container{
        max-width: 720px;
    }
    html {
        font-size: 12px;
    }

}

@media screen and (max-width: 768px){
    .card{
        width:100%;
    }
    .container{
        max-width: 540px;
    }
    html {
        font-size: 10px;
    }

}




